<p>Dear pulsar portal user,</p>
<p>
  We are upgrading the user management system for the pulsar portal. As part
  of this upgrade, the single pulsar portal account (meertime) that users have been
  accessing the system with will be retired on September 14, 2022. To use the
  pulsar portal thereafter, every user will require their own personal
  account. We have created a provisional account for you using this email
  address '{{to}}'. You will need to activate it (with the link below) and will
  be asked to set a password at that time.
</p>
<p>
  Please click on the following
  <a href="{{activation_link}}" target="_blank">link</a> to activate your new
  account:
</p>
<p><a href="{{activation_link}}" target="_blank">{{activation_link}}</a></p>
<p>
  If you believe this email has been incorrectly sent to you, please let us know
  at hpc-support@swin.edu.au
</p>
<p>Kind Regards,<br />Pulsar Portal Support Team</p>
