{% extends "dataportal/base.html" %}

{% block content %}
<div class="row">
  <div class="col-8">
    <div class="form-group">
      <form action="" method="get">
        <div class="form-group">
          <label for="project_id">Select project</lablel>
            <select class="form-control" id="project_id" name="project_id" onchange="this.form.submit()">
              <option value="">All</option>
              {% for project in projects %}
              {% if project_id == project.id|stringformat:"s" %}
              <option value={{ project.id }} selected>{{ project.proposal_short }}</option>
              {% else %}
              <option value={{ project.id }}>{{ project.proposal_short }}</option>
              {% endif %}
              {% endfor %}
            </select>
        </div>
      </form>
    </div>
  </div>
  <div class="col-4 justify-content-end">
    <span class="float-right"></span>{% block summary %} In total, we have performed {{ totals.global_nobs }}
    observations of {{ totals.global_npsr }}
    pulsars, for a total time of {{ totals.global_tint_h|floatformat }} hours.{% endblock %}</span>
  </div>
</div>


{% block table %}
{% if per_pulsar_list %}
<div style="clear:both">
  <div class="row">
    <table id="psrs" class="table table-striped table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          {% with hide_on_small='class="d-none d-sm-table-cell"' hide_on_medium='class="d-none d-lg-table-cell"' hide_on_medium_nowrap='class="text-nowrap d-none d-lg-table-cell"' %}
          <th>JNAME</th>
          <th>Last obs</th>
          <th {{hide_on_medium}}>First obs</th>
          <th>Project</th>
          <th {{hide_on_small}}>Timespan [days]</th>
          <th {{hide_on_small}}>No. of obs</th>
          <th {{hide_on_small}}>Total int. [h]</th>
          <th {{hide_on_small}}>Avg S/N<sub>pipe</sub> (5 min)</th>
          <th {{hide_on_small}}>Max S/N<sub>pipe</sub> (5 min)</th>
          <th>Last S/N<sub>raw</sub></th>
          <th>Last int. [m]</th>
        </tr>
      </thead>
      <tbody>

        {% for psr in per_pulsar_list %}
        <tr>
          <td class="text-nowrap"><a href="{% url 'pulsar_detail' psr.jname %}">{{ psr.jname }}</a></td>
          <td class="text-nowrap">{{ psr.last|date:'Y-m-d H:i:s' }}</td>
          <td {{hide_on_medium_nowrap}}>{{ psr.first|date:'Y-m-d H:i:s' }}</td>
          <td>{{ psr.proposal_short}}</td>
          <td {{hide_on_small}}>{{ psr.timespan.days }}</td>
          <td {{hide_on_small}}>{{ psr.nobs }}</td>
          <td {{hide_on_small}}>{{ psr.total_tint_h|floatformat }}</td>
          <td {{hide_on_small}}>{{ psr.avg_snr_5min|default_if_none:"-1"|floatformat }}</td>
          <td {{hide_on_small}}>{{ psr.max_snr_5min|default_if_none:"-1"|floatformat  }}</td>
          <td>{{ psr.latest_snr|floatformat }}</td>
          <td>{{ psr.latest_tint_m|floatformat }}</td>
        </tr>
        {% endfor %}
        {% endwith %}

      </tbody>
    </table>
  </div>
</div>
{% else %}
<p>No observations are available.</p>
{% endif %}
{% endblock %}
{% endblock content %}