{% extends "dataportal/base_details.html" %}
{% load mathfilters %}

{% block extra_js %}
{{ block.super }}
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.1.min.js"></script>
{{ bokeh_js | safe }}
{% endblock %}

{% block content %}
{% if obs_list %}
Go <a href="{% url 'fold' %}">back</a>
<h2>{{ psr }}</h2>
<div class="row">
  <div class="col-8">
    <a href="http://astronomy.swin.edu.au/pulsar/meerwatch/pulsar.php?jname={{ psr|urlencode }}&data={{ kronos }}">Meerwatch
      link</a>
  </div>
  <div class="col-4 justify-content-end">
    We have performed {{ totals.nobs }} observation{{ total.nobs|pluralize }} of {{ psr }}, for a total of
    {{ totals.tint|div:3600|floatformat:1 }} hours across {{ totals.project_count }}
    project{{ totals.project_count|pluralize }} over {{ totals.timespan.days|add:1 }}
    day{{ totals.timespan.days|add:1|pluralize }} occupying about
    {{ total_size_estimate.total_size_estimate | filesizeformat }} of raw data.
  </div>
</div>

{# display the ephemeris #}
{{ block.super }}

<div class="row">
  <div class="col-12 d-flex justify-content-center">
    {{ bokeh_div | safe }}
  </div>
</div>

<div class="row">
  <table id="psrs" class="table table-striped table-bordered table-sm text-right">
    <thead class="thead-dark">
      <tr>
        <th>UTC</th>
        <th>Project</th>
        <th>Length [m]</th>
        <th>Beam</th>
        <th>BW [MHz]</th>
        <th>Nchan</th>
        <th>Band</th>
        <th>Nbin</th>
        <th>Nant</th>
        <th>Nant<sub>eff</sub></th>
        <th>DM fold</th>
        <th>DM meerpipe</th>
        <th>RM meerpipe</th>
        <th>S/N backend</th>
        <th>S/N meerpipe</th>
      </tr>
    </thead>

    <tbody>
      {% for obs in obs_list %}
      <tr>
        <td class="text-nowrap">
          <a
            href="{% url 'obs_detail' obs.pulsar.jname obs.utc.utc_ts|date:'Y-m-d-H:i:s'  obs.beam %}">{{ obs.utc.utc_ts|date:'Y-m-d-H:i:s' }}</a>
        </td>
        <td>{{ obs.proposal.proposal_short }}</td>
        <td>{{ obs.length|div:60|floatformat:1 }}</td>
        <td>{{ obs.beam }}</td>
        <td>{{ obs.bw|floatformat:2 }}</td>
        <td>{{ obs.nchan }}</td>
        <td class="text-nowrap">{{ obs.band }}</td>
        <td>{{ obs.nbin }}</td>
        <td>{{ obs.nant }}</td>
        <td>{{ obs.nant_eff }}</td>
        <td>{{ obs.dm_fold|floatformat:-4 }}</td>
        <td>{{ obs.dm_pipe|default_if_none:"0"|floatformat:5 }}</td>
        <td>{{ obs.rm_pipe|default_if_none:"0"|floatformat:2 }}</td>
        <td>{{ obs.snr_spip|floatformat:1 }}</td>
        <td>{{ obs.snr_pipe|default_if_none:"0"|floatformat:1 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% else %}
<p>No observations are available for {{ psr }}.</p>
{% endif %}
{% endblock content %}