{% extends "dataportal/base.html" %}
{% load mathfilters %}

{% block content %}
{% if obs_list %}
Go <a href="{% url 'search' %}">back</a>
<h2>{{ psr }}</h2>
<div style="clear:both">
  <table id="utcs" class="table table-striped table-bordered table-sm text-right">
    <thead class="thead-dark">
      <tr>
        <th>UTC</th>
        <th>Project</th>
        <th>RA</th>
        <th>DEC</th>
        <th>Length [m]</th>
        <th>Beam</th>
        <th>Frequency [MHz]</th>
        <th>Nchan</th>
        <th>Nbit</th>
        <th>Nant</th>
        <th>Nant<sub>eff</sub></th>
        <th>Npol</th>
        <th>DM</th>
        <th>t<sub>samp</sub> [&mu;s]</th>
      </tr>
    </thead>

    <tbody>
      {% for obs in obs_list %}
      <tr>
        <td>
          <a
            href="http://astronomy.swin.edu.au/pulsar/kronos/utc_start.php?beam={{ obs.beam }}&utc_start={{ obs.utc.utc_ts|date:'Y-m-d H:i:s' }}&jname={{ psr|urlencode }}">{{ obs.utc.utc_ts|date:'Y-m-d H:i:s' }}</a>
        </td>
        <td>{{ obs.proposal.proposal_short }}</td>
        <td>{{ obs.ra }}</td>
        <td>{{ obs.dec }}</td>
        <td>{{ obs.length|div:60|floatformat:1 }}</td>
        <td>{{ obs.beam }}</td>
        <td>{{ obs.frequency|floatformat:3 }}</td>
        <td>{{ obs.nchan }}</td>
        <td>{{ obs.nbit }}</td>
        <td>{{ obs.nant }}</td>
        <td>{{ obs.nant_eff }}</td>
        <td>{{ obs.npol }}</td>
        <td>{{ obs.dm }}</td>
        <td>{{ obs.tsamp }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>No searchmode observations are available for {{ psr }}.</p>
{% endif %}
{% endblock content %}