// Login Page specific
.login-page {
   background: url('../images/meertime-background-duotone.jpg') no-repeat center center fixed;
   background-size: cover;
}

.login-col {
    background: rgba($primary-400, 0.2);
}

.login-form {
    margin-top: 6rem;
}
