.summaryData {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include media-breakpoint-only(md) {
        margin-top: -6rem;
    }

    @include media-breakpoint-up(lg) {
        margin-top: -12rem;
    }
}

.secondLine {
    margin: 0 256px 4rem auto;
}

