$row-border-radius: 0.75rem;


.ephemeris-table.table {
    td, th {
        border-top: none;
    }

    .ephemris-item span:first-child {
        padding-right: 1rem;
    }
}

.react-bootstrap-table .table {
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    margin-top: -2rem;

    tbody tr {
        box-shadow: $shadow-base;
        border-radius: $row-border-radius;
    }

    td {
        vertical-align: middle;
        padding: 1.25rem 1rem;
        background: white;
        border: 1px solid $gray-100;
        border-style: solid none;

        &:first-child {
            border-left-style: solid;
            border-top-left-radius: $row-border-radius; 
            border-bottom-left-radius: $row-border-radius;
            padding-left: 1.5rem;
        }

        &:last-child {
            border-right-style: solid;
            border-bottom-right-radius: $row-border-radius; 
            border-top-right-radius: $row-border-radius; 
        }
    }

    thead th {
        border-top: none;
        border-bottom: none;
        color: $gray-500;
        font-size: 0.9rem;

        &:focus,
        &:hover {
            outline: none;
            color: $primary;
        }

        &:first-child {
            padding-left: 1.5rem;
        }
    }
}
