.grecaptcha-badge {
  visibility: show;
}

.searchbar {
    @include media-breakpoint-up(md) {
        margin-top: -20px;

        .btn {
            margin-top: 2.3rem;
        }
    }

}

.form-group {
    @include media-breakpoint-up(md){
        min-height: 98px;
    }
}

.form-control-icon-right {
    z-index: 2;
    display: block;
    text-align: center;
    margin-right: 12px;
    margin-top: -28px;
    pointer-events: none;
    float: right !important;
}

.btn {
    position: relative;
    z-index: 2;
}

.btn.btn-icon {
    color: $gray-800;
    padding: 0;

    &:focus,
    &.btn:not(:disabled):not(.disabled).active,
    &:not(.disabled):active,
    &:not(.disabled):active:focus {
        box-shadow: none;
        color: $primary;
    }

    &:hover {
        color: $primary;
    }
}

.dropdown-item {
    &:hover {
        color: $primary;
    }
}

.btn .icon {
    margin: 0 4px 2px 0;
}
