.einstein-image {
  position: absolute;
  top: 7rem;
  right: 4rem;
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }

  @include media-breakpoint-up(xl) {
    right: 1rem;
  }
}
