.job-card {
  background-color: white;

  .card-title span {
    color: $accent-400;
  }

  .card-footer {
    background-color: $primary-600;

    .btn-link {
      color: $primary-100;
    }
  }

  .card-footer.embargoed {
    background-color: $gray-800;
    color: $primary-100;
  }
}
