.bg-dark {
    box-shadow: $shadow-base;
    background: linear-gradient(70deg, $primary-600, #30afbb);
}

.navbar-expand-lg,
.navbar-expand-md,
.navbar-expand-sm,
.navbar-expand-xl {
  > .container,
  > .container-fluid {
    padding-left: 0;
    padding-right: 0;
    @media (min-width: 2000px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
