.pulsar-plot-wrapper {
  height: 30rem;
  margin-bottom: 2rem;

  .js-plotly-plot .plotly {
    .modebar .modebar-group {
      background-color: transparent !important;
    }

    .modebar-btn {
      font-size: 1.4rem;
      background: none;
      padding: 0.8rem 0.5rem;

      .icon path {
        fill: $primary !important;
      }
    }
  }

  .plot-spinner {
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 4rem;
    height: 4rem;
  }
}

.pulsar-plot-display {
  background-color: $gray-100;
}

.recharts-text.recharts-label {
  text-anchor: middle;
}

.recharts-xAxis.xAxis,
.recharts-yAxis.yAxis,
.recharts-legend-item {
  user-select: none;
}
