.pulsar-plot-wrapper {
  height: 30rem;
  margin-bottom: 2rem;
}

.pulsar-plot-display {
  background-color: $gray-100;
}

.recharts-text.recharts-label {
  text-anchor: middle;
}

.recharts-xAxis.xAxis,
.recharts-yAxis.yAxis,
.recharts-legend-item {
  user-select: none;
}

.zoom-btn {
  position: absolute;
  top: 2.3rem;
  left: 26rem;
}
