.pulsar-plot-wrapper {
    height: 24rem;
    padding: 2rem 0rem;
    margin-bottom: 2rem;
}

.pulsar-plot-display {
    background-color: $gray-100;
}

div.pulsar-plot-wrapper .rv-xy-plot__axis__title text {
    fill: $primary;
    font-size: 15px;
    font-weight: 600;
}

