.summaryData {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.search-detail {
  .emphemeris-col {
    @include media-breakpoint-up(md) {
      margin-top: -12rem;
      margin-bottom: -2rem;
    }
  }
}

.fold-detail-table .summaryData {
  @include media-breakpoint-up(lg) {
    max-width: 100%;
  }

  @include media-breakpoint-up(md) {
    max-width: 70%;
    margin-top: 0;
  }
}

.secondLine {
  margin: 0 256px 4rem auto;
}
