// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:                                true;
$enable-rounded:                              true;
$enable-shadows:                              true;
$enable-gradients:                            true;
$enable-transitions:                          true;
$enable-prefers-reduced-motion-media-query:   true;
$enable-grid-classes:                         true;
$enable-pointer-cursor-for-buttons:           true;
$enable-print-styles:                         true;
$enable-responsive-font-sizes:                false;
$enable-validation-icons:                     true;
$enable-deprecation-messages:                 true;


// MeerTime Typeface 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Open+Sans:wght@400;600&display=swap');

$font-family-sans-serif: 'Open Sans', sans-serif;

// Headings
$headings-font-family: 'Montserrat', sans-serif;
$headings-font-weight: 300;

$h1-font-size: 97px;
$h2-font-size: 61px;
$h3-font-size: 48px;
$h4-font-size: 36px;
$h5-font-size: 24px;
$h6-font-size: 20px;
$body-1: 30px; 
$body-2: 32px;
$font-size-base: 1rem;
$input-btn-font-size: 14px;


// Color system
$gray-100: #F5F9FA;
$gray-200: #DEEAED;
$gray-300: #C9DADE;
$gray-400: #ACC3C8;
$gray-500: #88A5AA;
$gray-600: #6B8C94;
$gray-700: #526A6F;
$gray-800: #35474B;
$gray-900: #222525;

$primary-100: #E2FCFD;
$primary-200: #BFF2F7;
$primary-300: #97E9F2;
$primary-400: #52D6E4;
$primary-500: #28B8D4;
$primary-600: #30A4BB;
$primary-700: #2A7583;
$primary-800: #235761;
$primary-900: #0A3D48;

$accent-100: #FBEDE9;
$accent-200: #F6C7BC;
$accent-300: #EDA797;
$accent-400: #E07761;
$accent-500: #D44E33;
$accent-600: #AF3A23;
$accent-700: #8D2F1C;
$accent-800: #7E2715;
$accent-900: #5A190C;

$white:    $gray-100;
$black:    $gray-900;
$green: #1ED48D;

$primary:       $primary-500;
$secondary:     $accent-400;
$success:       $green;
$info:          $primary-300;
$warning:       $accent-300;
$danger:        $accent-700;
$dark: $primary-800;

$theme-colors: (
   'gray-100': $gray-100,
   'primary-600': $primary-600
);

// Shadows
$shadow-base: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
$shadow-md: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
$shadow-lg: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
$shadow-xl: 0px 20px 25px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
$shadow-2xl: 0px 25px 50px rgba(0, 0, 0, 0.25);
$shadow-inner: inset 0px 2px 4px rgba(0, 0, 0, 0.06);

$box-shadow-sm: $shadow-base;
$box-shadow: $shadow-md;
$box-shadow-lg: $shadow-lg;

// Inputs
$input-btn-padding-x: 1.2rem;
$input-btn-padding-y: 0.6rem;
$input-border-width: 0;
$input-box-shadow: $shadow-inner;
$input-bg: $gray-300;
$input-group-addon-bg: $gray-300;

// Navbar
$navbar-dark-color: $gray-100;
$navbar-dark-hover-color: $primary-200;
$navbar-dark-active-color: $gray-100;
$navbar-dark-disabled-color: $gray-500;

// Tables
$table-accent-bg: $gray-200;

// Container widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 2000px
) !default;

